body {
  background: white;
}

.quiz-card {
  background: lightseagreen;
  color: #333;
  padding: 12px;
  position: relative;
  border-radius: 10px;
  max-width: 300px;
  margin: 20px;
}

.quiz-card__heading {
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
}

.quiz-card__bookmark {
  height: 30px;
  border: 20px solid hotpink;
  border-bottom-color: transparent;
  position: absolute;
  top: -12px;
  right: 8px;
}

.quiz-card__bookmark--checked {
  border: 20px solid goldenrod;
  border-bottom-color: transparent;
}

.quiz-card__button {
  background: goldenrod;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}

.df > li {
  margin: 0 0.45rem 0.45rem 0;
  font-size: x-small;
  padding: 5px;
  display: inline-flex;
  grid-gap: 16px;
  background: greenyellow;
  place-items: center;
  border-radius: 6px;
}

.js-button-darkmode {
  background: goldenrod;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}

.darkmode {
  background: #333;
}
