.app-header {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 12px;
}

.app-header__heading {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  margin-top: -6px;
  padding-bottom: 10px;
}
